Pillow
tqdm
pandas
matplotlib
fastprogress
opencv-python
scikit-image
mediapy
tifffile
jupyterlab
git+https://github.com/htruscott/gsutilwrap.git
git+https://github.com/htruscott/meta_cell_libraries.git